submodules/diff-gaussian-rasterization
submodules/simple-knn
submodules/fused-ssim
plyfile
tqdm
numpy==1.23.5
opencv-python
joblib
diffusers
transformers
accelerate
einops
scipy
roma
trimesh
matplotlib
pytorch_lightning==1.9.3
omegaconf
kornia
open_clip_torch==2.22.0
pandas
decord
tensorboard
fairscale
av
timm
imageio
# h5py
# lmdb